.container{
    display: grid;
    
    grid-template-columns:25% 50% 25%;
    grid-template-rows:50px 200px 50px;
    grid-column-gap: 25px;
    grid-row-gap:25px;
    
    }
    
    
    .box1{
    background-color: brown;
    grid-column: 1/4;
    text-align: center;
    padding-top:15px ;
    
    
    }
    .box2{
    
        background-color: blue;
    }
    .box3{
        background-color: red;
        
        
        }
        .box4{
        
            background-color: green;
         
        }
        .box5{
            background-color:tomato;
            grid-column: 1/4;
         
            
            }
           
